.card {
    &__container {
        width: 100%;
        height: 170px;
        background-color: #deeee9;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.10);
    }   
    &__title-container {
        background-color: #d8e4e1;
        border: solid 1px #d8e4e1;
        border-radius: 5px 5px 0 0;
    }
    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    &__description {
        width: 100%;
        height: 70px;
    }
    &__word-break {
        word-break: break-word;
    }
}