.new-card {
    &__container {
        width: 100%;
        height: 170px;
        background-color: #deeee9;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.10);
    }
    &__title-input {
        width: 90%;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 5px;
    }
    &__description-input {
        width: 100%;
        height: 70px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 5px;
    }
    &__width-90 {
        width: 90%;
    }
    &__title-input-container {
        background-color: #d8e4e1;
        border: solid 1px #d8e4e1;
        border-radius: 5px 5px 0 0;
    }
    &__primary-button {
        width: 90px;
    }

}
    